/* foglio di stile */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* background-color: blue; */
  font-size: 12vw;
  font-family: 'Jost', sans-serif;
  color: white;
}

.contenitore{
  /* background-color: red; */
  position: relative;
  width: 100%;
  height: 100vh;
}

.nome-citta{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-shadow: 1vw 1vw 1vw 	#422125;
}

/* Maschera di Opacità sopra le immagini */
.layover{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.2);
}

.immagine01{
  /* background-color: green; */
  background-image: url("../img/london.jpg");
  background-size: cover;
  background-position: center;
}

.immagine02{
  /* background-color: green; */
  background-image: url("../img/rome_high.jpg");
  background-size: cover;
  background-position: center;
}

.immagine03{
  /* background-color: green; */
  background-image: url("../img/newyork.jpg");
  background-size: cover;
  background-position: center;
}
